select.TodoListFilter,
input[type="search"] {
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 1%;
  padding-left: 2%;
  width: 75%;
}

select.TodoListFilter {
  margin-right: 1%;
  width: 24%;
}

button.inputTodoList {
  position: fixed;
  bottom: 3%;
  right: 3%;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 1px 3px teal;
  width: 50px;
  height: 50px;
  background: skyblue;
  color: white;
  font-size: 4em;
  line-height: 0;
}
